    <%- include('partials/header.ejs') %>
    
    <div class="content">
      <div class="header-content">
        <div class="title-content">
          <span>Painel - Gestão de Estoque</span>
        </div>
        <div class="icon-content">
          <i class="fa-solid fa-ellipsis"></i>
          <i class="fa-solid fa-user"></i>
        </div>
      </div>   
    </div>
</body>
</html>